<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tierable</title>
    <meta name="description" content="Welcome to Tierable, the place for collaborative tier lists. Create lists of things to rank and then share and rank them with your friends.">
    <link rel="stylesheet" href="/styles/pico.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
    <nav>
        <ul style="margin-left: 0;">
            <li>
                <strong class="title">Tierable</strong>
            </li>
            <li>
                <button id="my-lists-btn">
                    My Tier Lists
                </button>
            </li>
        </ul>
        <ul style="margin-right: 0;">
            <li>
                <button id="sign-in-btn">
                    Sign In
                </button>
            </li>
            <li>
                <button id="sign-up-btn">
                    Sign Up
                </button>
            </li>
            <li>
                <span id="signed-in-display" hidden></span>
            </li>
            <li>
                <button id="sign-out-btn" hidden>
                    Sign Out
                </button>
            </li>
        </ul>
    </nav>
    <dialog id="sign-in">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Sign In</h2>
            </header>
            <form id="sign-in-form">
                <label>
                    Username: <input type="text" name="username" required pattern="[a-zA-Z0-9\-_]{4,20}" autocomplete="username">
                </label>
                <label>
                    Password: <input type="password" name="password" required pattern="[\x20-\x7e]{8,24}" autocomplete="current-password">
                </label>
                <button name="submit">Sign In</button>
                <p id="sign-in-form-error" class="danger"></p>
            </form>
        </article>
    </dialog>
    <dialog id="sign-up">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Sign Up</h2>
            </header>
            <form id="sign-up-form">
                <p>Username must be 4-20 alphanumeric characters, hyphens, or underscores.</p>
                <label>
                    Username: <input type="text" name="username" required pattern="[a-zA-Z0-9\-_]{4,20}" autocomplete="username">
                </label>
                <p>Password must be 8-24 characters.</p>
                <label>
                    Password: <input type="password" name="password" required pattern="[\x20-\x7e]{8,24}" autocomplete="new-password">
                </label>
                <label>
                    Confirm Password: <input type="password" name="password2" required pattern="[\x20-\x7e]{8,24}" autocomplete="new-password">
                </label>
                <button name="submit">Sign Up</button>
                <p id="sign-up-form-error" class="danger"></p>
            </form>
        </article>
    </dialog>
    <dialog id="edit-list">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Edit List</h2>
            </header>
            <form id="edit-list-form">
                <label>
                    Title: <input type="text" name="title" required pattern="[\x20-\x7e]{4,100}" id="edit-list-title">
                </label>
                <p>
                    <button id="edit-list-add-option">Add Option</button>
                </p>
                <ul id="edit-list-options"></ul>
                <button name="submit">Save</button>
                <p id="edit-list-form-error" class="danger"></p>
            </form>
        </article>
    </dialog>
    <dialog id="cast-vote">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Cast Vote</h2>
                <form id="cast-vote-form">
                    <div></div>
                    <button name="submit">Cast Vote</button>
                    <p id="cast-vote-form-error" class="danger"></p>
                </form>
            </header>
        </article>
    </dialog>
    <noscript class="container">
        <p>You need JavaScript enable to run this app.</p>
    </noscript>
    <main class="container" hidden>
        <section id="home">
            <h1 class="title">Tierable</h1>
            <p>Welcome to Tierable, the place for collaborative tier lists. Create lists of things to rank and then share and rank them with your friends.</p>
            <p id="sign-in-warning">You must be signed in to create a list.</p>
            <p>
                <button id="create-list-btn">
                    Create a List
                </button>
            </p>
            <div id="lists"></div>
        </section>
        <section id="not-found" hidden>
            <h1>Not Found</h1>
        </section>
        <section id="list" hidden>
            <h1 id="list-title"></h1>
            <p role="group">
                <button id="list-vote" hidden>Vote</button>
                <button id="list-remove-vote" hidden class="secondary">Remove Vote</button>
                <button id="list-edit" hidden class="secondary">Edit</button>
                <button id="list-delete" hidden class="danger">Delete</button>
                <button id="list-share">Share</button>
            </p>
            <p id="sign-in-vote-warning">You must be signed in to vote.</p>
            <table id="list-table">
                <tr><th>S</th><td></td></tr>
                <tr><th>A</th><td></td></tr>
                <tr><th>B</th><td></td></tr>
                <tr><th>C</th><td></td></tr>
                <tr><th>D</th><td></td></tr>
                <tr><th>F</th><td></td></tr>
            </table>
        </section>
    </main>
    <script src="scripts/index.js"></script>
</body>

</html>