<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <nav>
        <ul style="margin-left: 0;">
            <li>
                <strong>Tierable</strong>
            </li>
            <li>
                <button id="my-lists-btn">
                    My Tier Lists
                </button>
            </li>
        </ul>
        <ul style="margin-right: 0;">
            <li>
                <button id="sign-in-btn">
                    Sign In
                </button>
            </li>
            <li>
                <button id="sign-up-btn">
                    Sign Up
                </button>
            </li>
            <li>
                <span id="signed-in-display" hidden></span>
            </li>
            <li>
                <button id="sign-out-btn" hidden>
                    Sign Out
                </button>
            </li>
        </ul>
    </nav>
    <dialog id="sign-in">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Sign In</h2>
            </header>
            <form id="sign-in-form">
                <label>
                    Username: <input type="text" name="username" required pattern="[a-zA-Z0-9\-_]{4,20}">
                </label>
                <label>
                    Password: <input type="password" name="password" required pattern="[\x20-\x7e]{8,24}">
                </label>
                <button name="submit">Sign In</button>
                <p id="sign-in-form-error"></p>
            </form>
        </article>
    </dialog>
    <dialog id="sign-up">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Sign Up</h2>
            </header>
            <form id="sign-up-form">
                <p>Username must be 4-20 alphanumeric characters, hyphens, or underscores.</p>
                <label>
                    Username: <input type="text" name="username" required pattern="[a-zA-Z0-9\-_]{4,20}">
                </label>
                <p>Password must be 8-24 characters.</p>
                <label>
                    Password: <input type="password" name="password" required pattern="[\x20-\x7e]{8,24}">
                </label>
                <label>
                    Confirm Password: <input type="password" name="password2" required pattern="[\x20-\x7e]{8,24}">
                </label>
                <button name="submit">Sign Up</button>
                <p id="sign-up-form-error"></p>
            </form>
        </article>
    </dialog>
    <dialog id="edit-list">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Edit List</h2>
            </header>
            <form id="edit-list-form">
                <label>
                    Title: <input type="text" name="title" required pattern="[\x20-\x7e]{4,100}" id="edit-list-title">
                </label>
                <p>
                    <button id="edit-list-add-option">Add Option</button>
                </p>
                <ul id="edit-list-options"></ul>
                <button name="submit">Save</button>
                <p id="edit-list-form-error"></p>
            </form>
        </article>
    </dialog>
    <dialog id="cast-vote">
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <h2>Cast Vote</h2>
                <form id="cast-vote-form">
                    <div></div>
                    <button name="submit">Cast Vote</button>
                    <p id="cast-vote-form-error"></p>
                </form>
            </header>
        </article>
    </dialog>
    <main class="container">
        <section id="home">
            <h1>Tierable</h1>
            <p>Welcome to Tierable, the place for collaborative tier lists. Create lists of things to rank and then share and rank them with your friends.</p>
            <p id="sign-in-warning">You must be signed in to create a list.</p>
            <p>
                <button id="create-list-btn">
                    Create a List
                </button>
            </p>
            <div id="lists"></div>
        </section>
        <section id="not-found" hidden>
            <h1>Not Found</h1>
        </section>
        <section id="list" hidden>
            <h1 id="list-title"></h1>
            <p role="group">
                <button id="list-edit" hidden>Edit</button>
                <button id="list-delete" hidden>Delete</button>
                <button id="list-vote" hidden>Vote</button>
                <button id="list-remove-vote" hidden>Remove Vote</button>
                <button id="list-share">Share</button>
            </p>
            <p id="sign-in-vote-warning">You must be signed in to vote.</p>
            <table id="list-table"></table>
        </section>
    </main>
    <script src="scripts/index.js"></script>
</body>

</html>